<div class="row">
	<div class="col s12">
		<h1>Encuestas activas</h1>
		<table class="striped">
			<thead>
				<tr>
					<th>Título</th>
					<th>Hecho</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<surveys.length; i++){ 
					var item = surveys[i]; %>
					<tr>
						<td>
							<a href="#!" onclick="apretaste.send({command:'ENCUESTA VER',data:{'id':'<%= item.survey %>'}})"><%= item.title %></a><br/>
							<small>Vence el <%= formatDateTime(item.deadline) %></small>
						</td>
						<td class="center-align"><%= Math.floor(item.completion) %>%</td>
						<td class="center-align">§<%= item.value %></td>
					</tr>
				<% } %>
			</tbody>
		</table>

		<p><small>Las encuestas son anónimas y seguras. Nadie leerá tu selección. Puede revisar las <a href="#!" onclick="apretaste.send({command:'ENCUESTA TERMINADAS'})">encuestas terminadas</a> por usted.</small></p>
	</div>
</div>
