<div class="row">
	<div class="input-field col s12">
		<h1>Datos estadísticos</h1>
		<p>Necesitamos algunos datos básicos suyos para sacar estadísticas y analizar los resultados. Las encuestas son anónimas y su información nunca se compartirá con terceros.</p>
	</div>

	<!-- GENDER -->
	<div class="input-field col s12 m6">
		<select id="gender" class="validate">
			<option value=""></option>
			<option value="M" <%if(profile.gender=='M'){%>selected<%}%>>Hombre</option>
			<option value="F" <%if(profile.gender=='F'){%>selected<%}%>>Mujer</option>
		</select>
		<label for="gender">¿Qué eres?</label>
	</div>

	<!-- BIRTH YEAR -->
	<div class="input-field col s12 m6">
		<select id="year_of_birth" class="validate">
			<option value=""></option>
			<% getYears().forEach(function(year) { %>
				<option value="<%= year %>" <%if(profile.yearOfBirth==year){%>selected<%}%>><%= year %></option>
			<% }); %>
		</select>
		<label for="year_of_birth">¿Qué año nacistes?</label>
	</div>

	<!-- SKIN -->
	<% var skin = ["BLANCO","NEGRO","MESTIZO","OTRO"] %>
	<div class="input-field col s12 m6">
		<select id="skin" class="validate">
			<option value=""></option>
			<% skin.forEach(function(val) { %>
				<option value="<%= val %>" <%if(val==profile.skin){%>selected<%}%>><%= val.firstUpper() %></option>
			<% }); %>
		</select>
		<label for="skin">¿Cuál es tu color de piel?</label>
	</div>

	<!-- HIGHEST SCHOOL LEVEL-->
	<% var highest_school_level = ["PRIMARIO","SECUNDARIO","TECNICO","UNIVERSITARIO","POSTGRADUADO","DOCTORADO","OTRO"] %>
	<% var highest_school_level_names = ["Primario","Secundario","Técnico","Universitario","Postgraduado","Doctorado","Otro"] %>
	<div class="input-field col s12 m6">
		<select id="highest_school_level" class="validate">
			<option value=""></option>
			<% for(var i=0; i<highest_school_level.length; i++) { %>
				<option value="<%= highest_school_level[i] %>" <%if(highest_school_level[i]==profile.education){%>selected<%}%>><%= highest_school_level_names[i] %></option>
			<% } %>
		</select>
		<label for="highest_school_level">¿Cuál es su nivel escolar?</label>
	</div>

	<!-- PROVINCE-->
	<% var province = ["PINAR_DEL_RIO","LA_HABANA","ARTEMISA","MAYABEQUE","MATANZAS","VILLA_CLARA","CIENFUEGOS","SANCTI_SPIRITUS","CIEGO_DE_AVILA","CAMAGUEY","LAS_TUNAS","HOLGUIN","GRANMA","SANTIAGO_DE_CUBA","GUANTANAMO","ISLA_DE_LA_JUVENTUD"] %>
	<% var province_names = ["Pinar del Río","Ciudad de La Habana","Artemisa","Mayabeque","Matanzas","Villa Clara","Cienfuegos","Sancti Spíritus","Ciego de Ávila","Camagüey","Las Tunas","Holguín","Granma","Santiago de Cuba","Guantánamo","Isla de la Juventud"] %>
	<div class="input-field province-div col s12 m6">
		<select id="province" class="validate">
			<option value=""></option>
			<% for(var i=0; i<province.length; i++) { %>
				<option value="<%= province[i] %>" <%if(province[i]==profile.province){%>selected<%}%>><%= province_names[i] %></option>
			<% } %>
		</select>
		<label for="province">¿En qué provincia vives?</label>
	</div>
</div>

<div class="bottom-space"></div>

<!-- SAVE BUTTON -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="submitProfileData()"><i class="material-icons">save</i></a>
</div>