<form class="ap-form" action="PERFIL UPDATE" data-redirect="false" data-callback="callbackProfileData">
	<div class="row">
		<div class="input-field col s12">
			<h1>Datos estadísticos</h1>
			<p>Necesitamos algunos datos básicos suyos para obtener estadísticas y analizar los resultados. Las encuestas son anónimas, totalmente confidenciales, seguras, y su información nunca se compartirá con terceros.</p>
		</div>

		<% var fields = {
			gender: { label: "¿Cu&aacute;l es tu g&eacute;nero?", selectedValue: gender_selected, collection: gender, valueIsKey: true },
			year_of_birth: { label: "¿En qué año naciste?", selectedValue: year_selected, collection: getYears(), valueIsKey: false },
			skin: { label: "¿Cuál es tu color de piel?", selectedValue: race_selected, collection: race, valueIsKey: true },
			highest_school_level: { label: "¿Cuál es su nivel escolar?", selectedValue: education_selected, collection: education, valueIsKey: true },
			province: { label: "¿En qué provincia vives?", selectedValue: province_selected, collection: province, valueIsKey: true },
			marital_status: { label: "¿Cuál es tu estado civil?", selectedValue: marital_selected, collection: marital, valueIsKey: true },
			occupation: { label: "¿A qué te dedicas?", selectedValue: occupation_selected, collection: occupation, valueIsKey: true }
		}; %>

		<% for (var field in fields) { %>
			<div class="input-field occupation-div col s12 m6">
				<select id="<%= field %>" name="<%= field %>" class="validate" required>
					<option value=""></option>
					<% for(var key in fields[field].collection) { %>
						<% var selected = key==fields[field].selectedValue ? 'selected' : '' %>
						<option <%= selected %> value="<%= (fields[field].valueIsKey ? key :  fields[field].collection[key]) %>"><%= fields[field].collection[key] %></option>
					<% } %>
				</select>
				<label for="<%= field %>"><%- fields[field].label %></label>
			</div>
		<% } %>
	</div>

	<div class="bottom-space"></div>

	<!-- SAVE BUTTON -->
	<div class="fixed-action-btn">
		<button type="submit" class="btn-floating btn-large waves-effect waves-light green" href="#!"><i class="material-icons">save</i></button>
	</div>
</form>