<div class="row">
	<div class="input-field col s12">
		<h1>Datos estadísticos</h1>
		<p>Necesitamos algunos datos básicos suyos para obtener estadísticas y analizar los resultados. Las encuestas son anónimas, totalmente confidenciales, seguras, y su información nunca se compartirá con terceros.</p>
	</div>

	<!-- GENDER -->
	<div class="input-field col s12 m6">
		<select id="gender" class="validate">
			<option value=""></option>
			<% Object.keys(gender).forEach(function(key){ %>
				<% var selected = key==gender_selected ? 'selected' : '' %>
				<option <%= selected %> value="<%= key %>"><%= gender[key] %></option>
			<% }) %>
		</select>
		<label for="gender">¿Qué eres?</label>
	</div>

	<!-- BIRTH YEAR -->
	<div class="input-field col s12 m6">
		<select id="year_of_birth" class="validate">
			<option value=""></option>
			<% getYears().forEach(function(year) { %>
				<% var selected = year_selected==year ? 'selected' : '' %>
				<option <%= selected %> value="<%= year %>"><%= year %></option>
			<% }); %>
		</select>
		<label for="year_of_birth">¿En qué año naciste?</label>
	</div>

	<!-- SKIN -->
	<div class="input-field col s12 m6">
		<select id="skin" class="validate">
			<option value=""></option>
			<% Object.keys(race).forEach(function(key){ %>
				<% var selected = key==race_selected ? 'selected' : '' %>
				<option <%= selected %> value="<%= key %>"><%= race[key] %></option>
			<% }); %>
		</select>
		<label for="skin">¿Cuál es tu color de piel?</label>
	</div>

	<!-- HIGHEST SCHOOL LEVEL -->
	<div class="input-field col s12 m6">
		<select id="highest_school_level" class="validate">
			<option value=""></option>
			<% Object.keys(education).forEach(function(key){ %>
				<% var selected = key==education_selected ? 'selected' : '' %>
				<option <%= selected %> value="<%= key %>"><%= education[key] %></option>
			<% }) %>
		</select>
		<label for="highest_school_level">¿Cuál es su nivel escolar?</label>
	</div>
<% console.log(province_selected) %>
	<!-- PROVINCE -->
	<div class="input-field province-div col s12 m6">
		<select id="province" class="validate">
			<option value=""></option>
			<% Object.keys(province).forEach(function(key){ %>
				<% var selected = key==province_selected ? 'selected' : '' %>
				<option <%= selected %> value="<%= key %>"><%= province[key] %></option>
			<% }) %>
		</select>
		<label for="province">¿En qué provincia vives?</label>
	</div>

	<!-- MARITAL STATUS -->
	<div class="input-field marital-div col s12 m6">
		<select id="marital_status" class="validate">
			<option value=""></option>
			<% Object.keys(marital).forEach(function(key){ %>
				<% var selected = key==marital_selected ? 'selected' : '' %>
				<option <%= selected %> value="<%= key %>"><%= marital[key] %></option>
			<% }) %>
		</select>
		<label for="marital_status">¿Cuál es tu estado civil?</label>
	</div>

	<!-- OCCUPATION -->
	<div class="input-field occupation-div col s12 m6">
		<select id="occupation" class="validate">
			<option value=""></option>
			<% Object.keys(occupation).forEach(function(key){ %>
				<% var selected = key==occupation_selected ? 'selected' : '' %>
				<option <%= selected %> value="<%= key %>"><%= occupation[key] %></option>
			<% }) %>
		</select>
		<label for="occupation">¿A qué te dedicas?</label>
	</div>
</div>

<div class="bottom-space"></div>

<!-- SAVE BUTTON -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="submitProfileData()"><i class="material-icons">save</i></a>
</div>