<!-- PARTICIPANT CONSENT -->
<div id="consent-section">
	<div class="row">
		<div class="col s12">
			<h1>Consentimiento informado del participante</h1>
			<p>Nombre del estudio: "<%= survey.title %>".</p>
			<p>La información obtenida, nos permitirá procurar el mejor bienestar de la población cubana. Para ello, necesitamos que conteste a este cuestionario con la mayor sinceridad posible.</p>

			<p>Usted debe saber que:</p>

			<ul class="collection">
				<li class="collection-item avatar"><i class="material-icons circle">looks_one</i>Su participación en este estudio es totalmente voluntaria.</li>
				<li class="collection-item avatar"><i class="material-icons circle">looks_two</i>Su participación supondrá para usted una retribución de §<%= survey.value %> a su crédito.</li>
				<li class="collection-item avatar"><i class="material-icons circle">looks_3</i>Todos los datos obtenidos en este estudio serán confidenciales, anónimos y totalmente seguros.</li>
				<li class="collection-item avatar"><i class="material-icons circle">looks_4</i>La información obtenida únicamente se utilizará para los fines específicos del estudio.</li>
				<li class="collection-item avatar"><i class="material-icons circle">looks_5</i>Una vez que comience a contestar el cuestionario, es libre de abandonar el estudio en cualquier momento, no suponiendo ningún tipo de consecuencias para usted.</li>
			</ul>

			<p>Usted declara que:</p>

			<p>
				<label>
					<input id="accept-adult" type="checkbox" />
					<span>Es mayor de edad (18 o más años)</span>
				</label>
			</p>
			<p>
				<label>
					<input id="accept-participate" type="checkbox" />
					<span>Acepta participar en este estudio</span>
				</label>
			</p>
		</div>
	</div>

	<div class="bottom-space"></div>

	<div id="btn-accept" class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="acceptSurvey()"><i class="material-icons">thumb_up</i></a>
	</div>
</div>

<!-- LIST OF QUESTIONS -->
<form class="ap-form" action="ENCUESTA RESPONDER" data-validator="checkSurvey">
	<input type="hidden" name="survey" id="survey" value="<%= survey.id %>">
	<div id="questions-section" class="hidden">
		<div class="row">
			<div class="col s12">
				<div class="progress">
					<div id="progress-bar" class="determinate" style="width: 0%;"></div>
				</div>
			</div>
			<div class="col s12">
				<% for(var i=0; i < survey.questions.length; i++){
					var question = survey.questions[i]; %>

					<div class="ap-form-step" data-step="<%= i %>">
						<h3><%= question.title %></h3>
						<input class="answer-time" type="hidden" name="answer_time_<%= question.id %>" value="0" data-id="<%= question.id %>" data-step="<%= i %>">
						<div id="<%= question.id %>" class="question">
							<% if (question.widget == 'MULTIPLE' || question.widget == 'RANDOM') { %>
								<% if ( question.widget == 'RANDOM') question.answers.sort(function() { return Math.random() - 0.5 }) %>
								<table>
									<% for(var j=0; j < question.answers.length; j++){
										var answer = question.answers[j]; %>
										<tr>
											<td align="center" width="7%" valign="middle">
												<label>
													<input class="answer_<%= question.id %> with-gap group-required" name="question_<%= question.id %>" value="<%= answer.id %>" type="radio"/>
													<span><%= answer.title %></span>
												</label>
											</td>
										</tr>
									<% } %>
								</table>
							<% } %>

							<% if (question.widget == 'SEVERAL') { %>
								<table>
									<% for(var j=0; j<question.answers.length; j++){
										var answer = question.answers[j]; %>
									<tr>
										<td align="center" width="7%" valign="middle">
											<label>
												<input class="answer_<%= question.id %> with-gap group-required" name="question_<%= question.id %>_<%= answer.id %>[]" type="checkbox"/>
												<span><%= answer.title %></span>
											</label>
										</td>
									</tr>
									<% } %>
								</table>
							<% } %>

							<% if (question.widget == 'RANKING') { %>
								<div class="flexible" id="question_flexible_<%= question.id %>" data-selected="0" data-total="<%= question.answers.length %>" data-question="<%= question.id %>">
									<% for(var j=0; j<question.answers.length; j++){
										var answer = question.answers[j]; %>
										<div id="answer_<%= answer.id %>" data-question="<%= question.id %>" data-answer="<%= answer.id %>" class="flexible-item answer-item" data-order="0" style="order: 0;">
											<input required class="answer_<%= question.id %> answer-order answer-ranking"
												   name="question_<%= question.id %>_<%= answer.id %>" value="0"
												   data-question="<%= question.id %>" data-answer="<%= answer.id %>" id="answer_value_<%= answer.id %>"
													style="width: 50px; border: 0px; text-align: center; color:gray; font-size: 24px;"/>
											<span><%= answer.title %></span>

											<a class="btn btn-up" data-answer="<%= answer.id %>"><i class="fa fa-arrow-up"></i></a>
											<a class="btn btn-down" data-answer="<%= answer.id %>"><i class="fa fa-arrow-down"></i></a>
										</div>
									<% } %>
								</div>
							<% } %>

							<% if (question.widget == 'FREE') { %>
								<textarea required class="answer_<%= question.id %> materialize-textarea" name="question_<%= question.id %>"  id="question_<%= question.id %>"></textarea>
							<% } %>
						</div>
					</div>
				<% } %>
			</div>
		</div>

		<!-- submit -->
		<div class="bottom-space"></div>

		<div class="fixed-action-btn">
			<% if (survey.questions.length > 1) { %>
				<a id="btn-prev-step" class="btn-floating waves-effect waves-light grey second hidden">
					<i class="material-icons">arrow_back</i>
				</a>
				<a id="btn-next-step" class="btn-floating btn-large waves-effect waves-light green">
					<i class="material-icons">arrow_forward</i>
				</a>
			<% } %>

			<button id="btn-submit" class="btn-floating btn-large waves-effect waves-light green <% if (survey.questions.length > 1) { %>hidden<% } %>" type="submit"><i class="material-icons">send</i></button>
		</div>
	</div>
</form>

<!-- COMPLETION MESSAGE -->
<div id="message-section" class="row hidden">
	<div class="col s12 center">
		<h1>¡Genial! Ya respondió esta encuesta</h1>
		<i class="material-icons large">thumb_up</i>
		<p>Usted ya respondió esta encuesta y como agradecimiento le agregamos §<%= survey.value %> a su crédito. Recuerde que sus respuestas contribuirán a construir una mejor Cuba para todos. Muchas gracias por su participación.</p>
		<a class="btn waves-effect waves-light" href="#!" onclick="apretaste.send({command:'ENCUESTA'})">Otras encuestas</a>
	</div>
</div>